{
  "T-Low": {
    "layers":[ "Bg-Red" , "Eye-Green", "Eye-Pink", "Eye-Yellow", ":Eye-Red"],
    "groups":["Background", "Eye Color"]
  },
  "T-Middle": {
    "layers":["Bg-Black", "Eye-Yellow", "Eye-Green"],
    "groups":["Background", "Eye Color"]
  },
  "B-Middle": {
    "layers":[ "Ir-Small", "Ir-Medium", "Eye-Cyan", "Eye-Purple", "Eye-Red"],
    "groups":["Iris", "Eye Color"]
  },
  "Ir-Large": {
    "layers":[ "Bg-Red", "Eyeball-White"],
    "groups":["Eyeball", "Background"]
  },
  "Eye-Purple": {
    "layers":[ "Eyeball-Red"],
    "groups":["Eyeball"]
  }
}