{
  "T-Low": {
    "rejected": ["Bg-Red" , "Eye-Green", "Eye-Pink", "Eye-Yellow", "Eye-Red"],
    "only": {
      "Background": ["Bg-Black"],
      "Eyeball": ["Eyeball-Green"]
    }
  },
  "T-High": {
    "rejected": ["Bg-Black" , "Eye-Green"],
    "only": {
      "Iris": ["Ir-Medium"],
      "Eyeball": ["Eyeball-White"]
    }
  },
  "Ir-Large": {
    "rejected": ["Bg-Red", "Eyeball-White"],
    "only": {
      "Background": ["Bg-Purple"],
      "Eyeball": ["Eyeball-Green"]
    }
  },
  "Eye-Purple": {
    "rejected": ["Eyeball-Red"],
    "only": false
  },
  "Eye-Green": {
    "rejected": false,
    "only": {
      "Background": ["Bg-Red", "Bg-Black"]
    }
  },
  "Eye-Red": {
    "rejected": ["Bg-Purple"],
    "only": {
      "Eyeball": ["Eyeball-White"]
    }
  }
}